# Copy this file to `.env` and fill the values
HF_TOKEN=

# Either put model IDs directly or set these to your model ids
HF_BASE_MODEL=HogOnFire/detection-voice_samples
HF_BIO_MODEL=HogOnFire/detection-voice_samples

# Flask settings (optional)
FLASK_ENV=development
FLASK_RUN_HOST=0.0.0.0
